*.py linguist-language=Python

*.parquet linguist-documentation
*.csv linguist-documentation

*.yaml linguist-documentation
*.yml linguist-documentation

*.html linguist-generated=true

*.ipynb linguist-detectable=false